In [2]:
import pandas as pd
import numpy as np

In [3]:
frame = pd.DataFrame(np.random.standard_normal((4, 3)),                            
                    columns=list("bde"),
                    index=["Utah", "Ohio", "Texas", "Oregon"]
                    )

In [4]:
frame

               b         d         e
Utah    0.089422  0.032257  0.152772
Ohio   -1.745347 -0.908489 -0.420729
Texas   0.944957 -0.561533 -0.297647
Oregon -1.128217  0.100349 -0.440045

In [5]:
# frequent operation is applying a function on one-dimensional arrays to each
#column or row. DataFrameâ€™s apply method does exactly this

In [6]:
def f1(x):    
    return x.max() - x.min()

In [7]:
frame.apply(f1)
#each column of the dataframe is passed as argument
#the result is the series with lables as column names

b    2.690304
d    1.008838
e    0.592817
dtype: float64

In [9]:
#Element-wise Python functions can be used
def format(x):
    return f"{x:.2f}"

In [10]:
frame.applymap(format)
#each element is passed to indiviually to format

C:\Users\chall\AppData\Local\Temp\ipykernel_16512\304758519.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  frame.applymap(format)

            b      d      e
Utah     0.09   0.03   0.15
Ohio    -1.75  -0.91  -0.42
Texas    0.94  -0.56  -0.30
Oregon  -1.13   0.10  -0.44

In [11]:
frame['e'].map(format)
#for series there exist map method

Utah       0.15
Ohio      -0.42
Texas     -0.30
Oregon    -0.44
Name: e, dtype: object