In [1]:
import pandas as pd
import numpy as np

class pandas.Series(data=None, index=None, dtype=None, name=None, copy=None)//
data= array_like/iterable/dict//
index=array_like/iterable//
dtype is the dataype//
name= string(name of the series)

In [2]:
#constructing from a dict
print(pd.Series({'a':1,'b':2,'c':3}))
print(pd.Series({'a':1,'b':2,'c':3},name='MySeries',index=['A','B','C']))
#first a series with given keys-value pair is constructed and index will be changed then so NAN wiil be result

a    1
b    2
c    3
dtype: int64
A   NaN
B   NaN
C   NaN
Name: MySeries, dtype: float64

In [3]:
a=pd.Series(['str','another','mystr'],name='String Series',index=[1,2,3])
a

1        str
2    another
3      mystr
Name: String Series, dtype: object

In [4]:
a.index

Index([1, 2, 3], dtype='int64')

In [5]:
a.array

<NumpyExtensionArray>
['str', 'another', 'mystr']
Length: 3, dtype: object

In [6]:
a.values#ndarray

array(['str', 'another', 'mystr'], dtype=object)

In [7]:
a.dtype

dtype('O')

In [8]:
a.shape

(3,)

In [9]:
a.nbytes

24

In [10]:
a.ndim

1

In [11]:
a.size

3

In [12]:
a.T,a#a.t==a

(1        str
 2    another
 3      mystr
 Name: String Series, dtype: object,
 1        str
 2    another
 3      mystr
 Name: String Series, dtype: object)

In [13]:
a.hasnans#return if there are nan values

False

In [14]:
pd.Series([]).empty

True

In [15]:
a.name

'String Series'

In [16]:
pd.Series([i for i in range(5)]).astype(dtype='float')

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [17]:
a.copy()

1        str
2    another
3      mystr
Name: String Series, dtype: object

In [18]:
pd.Series.to_numpy(a)

array(['str', 'another', 'mystr'], dtype=object)

In [19]:
a.to_list()

['str', 'another', 'mystr']

In [20]:
a

1        str
2    another
3      mystr
Name: String Series, dtype: object

In [21]:
a.get(2)#pass index

'another'

In [35]:
a.keys()

Index([1, 2, 3], dtype='int64')

In [37]:
pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f']).pop('b')#index

2

In [24]:
#https://pandas.pydata.org/docs/reference/api/pandas.Series.combine.html

In [25]:
pd.Series([1,2,3,4,5,6,7,8,9]).between(3,6)
#returns a boolean series accorrding left<=series_value<=right

0    False
1    False
2     True
3     True
4     True
5     True
6    False
7    False
8    False
dtype: bool

In [26]:
pd.Series([1,2,3,3,4,5,5]).drop_duplicates()

0    1
1    2
2    3
4    4
5    5
dtype: int64

In [27]:
pd.Series([1,2,3,100,4,5,6]).idxmax()
#lablel of max value

3

In [28]:
pd.Series([1,2,3,100,4,5,6]).idxmin()
#lablel of min
#  value

0

In [29]:
pd.Series([1,2,3,4,5,6]).isin([3,4,5])

0    False
1    False
2     True
3     True
4     True
5    False
dtype: bool

In [30]:
pd.Series([1,2,3,100,4,5,6]).sort_values()

0      1
1      2
2      3
4      4
5      5
6      6
3    100
dtype: int64

In [31]:
pd.Series([1,2,3,100,4,5,6]).sort_index()

0      1
1      2
2      3
3    100
4      4
5      5
6      6
dtype: int64

In [32]:
#if the series contains str iterms then all the methods of str are applicable on the series

In [33]:
pd.Series([1,2,np.nan,6,3]).isna()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [34]:
pd.Series([1,2,np.nan,6,3]).notna()

0     True
1     True
2    False
3     True
4     True
dtype: bool