In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                    [np.nan, np.nan], [0.75, -1.3]],
                index=["a", "b", "c", "d"],
                             columns=["one", "two"])

In [4]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [8]:
df.sum(axis='index')#column sum

one    9.25
two   -5.80
dtype: float64

In [6]:
df.sum(axis="columns")#row sum

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [7]:
#  axis Axis to reduce over; “index” for DataFrame’s rows and “columns” for columns
#  skipna Exclude missing values; True by default

In [10]:
df.sum(axis="columns", skipna=False)#The row containg null value will be skipped

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [11]:
df.mean(axis="columns")

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

In [12]:
df.mean(axis="columns",skipna=False)#The row containg null value will be skipped

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [13]:
df.cumsum()#cumprod,cummax,cummin,idxmax,idxmin,mean,medain,mode

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [14]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [16]:
df.count()#no.of non null value

one    3
two    2
dtype: int64

In [19]:
df.min()

one    0.75
two   -4.50
dtype: float64

In [20]:
df.max()

one    7.1
two   -1.3
dtype: float64

In [23]:
df.std()

one    3.493685
two    2.262742
dtype: float64